*{
    font-family: 'Inter';
    margin:0;
    padding:0;
    
}
.imgdef{
    background-image: url(../www/img/eightimg.jpg);
   
}
.lastsec{
    background-color: #776BFF;
    
}

.box > *,
.box > *:after,
.box > *:before{
    overflow-wrap: break-word;
    text-align: start;
}
.lastsec > *,
.lastsec > *:after,
.lastsec > *:before{
    margin: auto;
    overflow-wrap: break-word;
}
.text a{
    color:black;
    font-weight: bold;
    text-decoration: underline;
}
.header{
    display: flex;
    justify-content:space-between;
    margin: auto;
    align-items: center;
}
.about{
    display: flex;
    align-items: center; 
}
.numbers{
    display: flex;
    height: 24px;
    align-items: center;   
}
.txthead{
    color: black;
}
a{
    text-decoration: none;
    color: black;
    
}
.q{
    margin-right:30px ;
}
.w{
    margin-left:30px ;
}
.txt{
    color:white;
}
.firstimg{
    background-position: center;
    background-size:cover;
    background-image: url(../www/img/firstimg.jpg)
}
.num{
    padding-bottom: 5px;
}
img{
    background-position: center;
    background-size:cover;
}
button{
    margin: auto;
    border-radius: 10px;
    color: white;
    background-color: black;
    text-decoration: none;
    border: none;
}
main > *,
main > *:after,
main > *:before{
    margin: auto;
    overflow-wrap: break-word;
    text-align: center;
}
.gray{
    border-top:1px solid #787878;
    color: #787878;
    border-bottom:1px solid #787878;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
@media screen and (max-width:860px) {
    
    .about{
        display: none;
    } 
    .numbers{
        display: none;
    }
    .burger{
        width: 40px;
        height: 40px;
        align-content: center;
        margin-right:30px;
        
    }
    .palka{
        width: 23.33px;
        height: 3.33px;
        background-color: rgb(0, 0, 0);
        border-radius: 5px;
        margin: auto;
        transition: all 0.3s ease;
        z-index: 4;
    }
    .f{
        margin-top: 8.335px;
    }
    .s{
        margin-top: 6.67px;
        margin-bottom: 6.67px;
    }
    .t{
        margin-bottom:8.335px ;
    }
    .dropdown{
        /* display: none; */
        width: 100vw;
        height: 100vh;
        background-color: black;
        position: absolute;
        top: 0;
        left: 0; 
        z-index: -1;
        color: white;
        transition: transform 0.5s ease-in-out;
        transform: translateX(100%);
    }

      .burger.active .dropdown{
        display: block;
        transform: translateX(0);
      }
      .burger.active .palka:nth-child(1) {
        transform: rotate(45deg) translate(7px, 7px);
        background-color: white;
        z-index: 4;
      }
      
      .burger.active .palka:nth-child(2) {
        opacity: 0;
        z-index: 4;
      }
      
      .burger.active .palka:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -7px); 
        background-color: white;
        z-index: 4;
      }
      
      .logo{
        width: 123.81px;
        height: 44px;
        margin-left: 21px;
        z-index: -2;
      }
      .header{
        width:100vw;
        position: fixed;
        height: 100px;
        position: fixed;
        background-color: white;
        z-index: 2;
    }
    .firstimg{
        padding-top: 100px;
        height: 464px;
        width: 100vw;
        background-image: url(../www/img/mobimg.jpg);
        margin-bottom: 40px;
    }
    .txt{
        position: absolute;
        width: 238px;
        height: 84px;
        top:441px;
        font-size:35px ;
        left:20px;
    }
    main{
        display: grid;
        grid-template-rows: repeat(2,auto) 1fr 50px auto 1877px 454px auto 50px 702px repeat(3,auto);
        grid-row-gap: 40px;
        width: 100vw;
    }
    .text1{
        width: 320px;
    }
    .littxt{
        font-size: 12px;
    }
    .bigtxt{
        font-size: 16px;
    }
    button{
        width: 320px;
        font-size:14px;
        color: white;
        height: 50px ; 
        padding: auto;
    }
    .gray{
        width: 156px;
    }
    .secondsec{
        display: grid;
        grid-template-rows: repeat(6,307px);
        grid-row-gap: 40px;
        width: 320px;
    }
    .title{
        text-align: start;
        font-size: 20px;
        margin-bottom: 14px;
    }
    .text{
        font-size: 12px;
        margin-top: 14px;
        text-align: start;
    }
    .img {
        width: 320px;
        height: 180px;
    }
    .text2{
        width: 232px;
    }
    .imgdef{
        width: 100%;
        height: 454px;
        background-position: bottom;
    }
    .imgdef div{
        font-size: 22px;
        width: 292px;
        height: 162px;
        color: white;
        margin-top:30px;
        margin-left: 20px;
        text-align: start;
    }
    main > *,
    main > *:after,
    main > *:before{
    margin: auto;
}
    .bigtxt{
        font-size: 16px;
    }
    .afimgdef{
        width: 246px;
        height: auto;
    }
    .lastsec{
        height: 360px;
        width: 582px;
        display: grid;
        grid-template-rows: auto 1fr repeat(4, auto);
        grid-row-gap: 40px;
        padding-top: 60px;
        padding-bottom:60px ;
    }
    .lastsec > *,
    .lastsec > *:after,
    .lastsec > *:before{
    margin: auto;
}
}
